[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
websocket-client = "*"
wtforms = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
